.card_header{
  height: 70px;
  background-color: #0081c3;
}

.card_body{
  min-height: 250px;
  position: relative;
}

.card_body_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card_grid_margin{
  margin: 40px 40px 40px 40px;
}

.card_disabled {
    background-image: url("../images/disable.svg");
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10s0px;
    width: 100%;
    overflow:hidden;
    background-color: #0081c3;
}

.link_color{
  text-decoration-color: #ffffff;
}

#padding_top_logo{
  padding-top: 15px;
  padding-bottom: 7px;
}

/* Footer */
.left_align_footer_image{
  margin-left:20px;
}



/*Sticky footer from Foundation */
.sticky-footer-css {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sticky-footer-css-body {
  overflow: auto;
}

.sticky-footer-css .header {
  background-color: #2c3840;
  height: 10rem;
  color: #fff;
  padding: 3rem;
}

.sticky-footer-css .header .menu a {
  color: #fff;
}

.sticky-footer-css .body-content {
  background-color: #fff;
  width: 100%;
}

.sticky-footer-css .footer {
  height: 10rem;
  background-color: #0081c3;
  color: #fff;
  padding: 3rem;
  width: 100%;
}

.sticky-footer-css .footer .menu a {
  color: #fff;
}

/* ============= */

.center_div{
  margin-left: 10%;
  margin-right: 10%;
}

.register-center_div{
  margin-left: 15%;
  margin-right: 15%;
}

.left_align{
  margin-right: 50%;
}

.bold_text{
  text-decoration: bold;
}

.bottom_margin{
  margin-bottom: auto;
}

.top_margin{
  margin-top: 50px;
}

.center_text{
  text-align: center;
  padding-bottom: 20px;
}

.top_center_div{
  margin-top: 10%;
  margin-bottom: 30%;
}

.row{
  display:inline-block;

}
#underline{
  text-decoration: underline;
}
