.card_header{
  height: 70px;
  background-color: #0081c3;
}

.card_body{
  min-height: 250px;
  position: relative;
}

.card_body_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card_grid_margin{
  margin: 40px 40px 40px 40px;
}

.card_disabled {
    background-image: url("../images/disable.svg");
}
