/* Footer */
.left_align_footer_image{
  margin-left:20px;
}



/*Sticky footer from Foundation */
.sticky-footer-css {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sticky-footer-css-body {
  overflow: auto;
}

.sticky-footer-css .header {
  background-color: #2c3840;
  height: 10rem;
  color: #fff;
  padding: 3rem;
}

.sticky-footer-css .header .menu a {
  color: #fff;
}

.sticky-footer-css .body-content {
  background-color: #fff;
}

.sticky-footer-css .footer {
  height: 10rem;
  background-color: #0081c3;
  color: #fff;
  padding: 3rem;
}

.sticky-footer-css .footer .menu a {
  color: #fff;
}

/* ============= */



/* This disables the card */
.disabled_card{
  opacity: 0.5;
  margin-bottom: -200px;
}

.center_div{
  margin-left: 10%;
  margin-right: 10%;
}

.register-center_div{
  margin-left: 15%;
  margin-right: 15%;
}

.left_align{
  margin-right: 50%;
}

.bold_text{
  text-decoration: bold;
}

.bottom_margin{
  margin-bottom: auto;
}

.top_margin{
  margin-top: 50px;
}

.center_text{
  text-align: center;
  padding-bottom: 20px;
}

.top_center_div{
  margin-top: 10%;
  margin-bottom: 30%;
}

.row{
  display:inline-block;

}
#underline{
  text-decoration: underline;
}
