.center_div{
  margin-left: 10%;
  margin-right: 10%;
}

.register-center_div{
  margin-left: 15%;
  margin-right: 15%;
}

.left_align{
  margin-right: 50%;
}

.bold_text{
  text-decoration: bold;
}

.bottom_margin{
  margin-bottom: auto;
}

.top_margin{
  margin-top: 50px;
}

.center_text{
  text-align: center;
  padding-bottom: 20px;
}

.top_center_div{
  margin-top: 10%;
  margin-bottom: 30%;
}

.row{
  display:inline-block;

}
#underline{
  text-decoration: underline;
}
